.header {
    width: 100%;
    height: 55px;
    float: left;
    position: relative;
    min-width: 1024px;
    background-color:#0973b9;
    display:flex;
}
.header .header-left{
    width:50%;
    height:55px;
    position:relative;
    display:flex;
}
.header .header-right {
        width: 50%;
        height:100%;
       position:relative;
        float:right;
        display:flex;
}
.header .header-logo{
    width:212px;
    height:100%;
    display:flex;
    align-items:center;
    padding-left:18px;
}
    .header .header-logo .icon-left-header {
        background-image: url('../../content/images/businessman (1).png');
        width: 32px;
        height: 24px;
    }
    .header .header-logo .logo {
        /*background-image: url('../../content/images/logo-text.png');
        width: 120px;
        height: 22px;
        background-repeat:no-repeat;
        margin-left:10px;
        background-position:0 center;*/
        margin-left: 10px;
        font-size: 16px;
        color: #ffffff;
        margin-top: 7px;
    }
.header .drop-res{
     width:100px;
     line-height:55px;
     height:100%;


}
    .header select{
        width:200px;
        height:30px;
        background-color:#005082;
        color:#ffffff;
        border:none;
        padding-left:4px;
    }
.header .header-language{
    
    width:40%;
    height:100%;
    display:flex
}
/*.header-question {
    
    width: 20%;
    height: 100%;
    display:flex;

}*/
    .header .drop-language{
        line-height:55px;
       

    }

.header .icon-world {
   
    width:55px;
    height: 55px;
}
    .header .header-user {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: flex-end;
    }
.header .content-span {
    
    width:75%;
}
    .content-ques{
        margin-left:15px;
    }
.header .img-phone {
    background: url('/content/images/ic_support.svg') no-repeat;
    width: 68px;
    height: 55px;
}

    #avatar{
        border-radius:50%;
        width:30px;
        height:30px;
        align-items:center;
        background-color:#ccc;
        margin: 0 10px;
    }
    #arrow{
        width:20px;
        height:20px;
        margin:0 10px;
    }
    .header #username_tt{
        color:#ffffff;
        font-weight:bold;
        white-space:nowrap;
    }
